{% extends 'layout.html' %}

{% block my_css %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/article.css'%}"/>
{% endblock %}

{% block content %}
    <div class="article">
        <div class="first">
            <a href="#" class="title">{{ article.title }}</a>
        </div>
        <div class="second">
            <a href="#">{{ article.publish_time|date:'Y-m-d H:i:s' }}</a>
            <a href="#">{{ article.author }}</a>
            <a href="#">开发日志</a>
            <a href="#">1 comment</a>
        </div>
        <div class="content">
            {% autoescape off %}
            {{ article.content }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}