<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}"/>
    <script src="{% static 'js/jquery2.1.4.js' %}"></script>
</head>
<body>
    <div class="header">
        <div class="wrapper">
            <div class="left">
                <a href="#" id="first" class="selected">首页</a>
                <a href="#">归档</a>
                <a href="#">分类</a>
                <a href="#">链接</a>
                <a href="http://127.0.0.1:9000/about">关于</a>
            </div>
            <div class="right">
                <a href="#">搜索</a>
            </div>
        </div>
    </div>

    <div class="center">
        <div class="left">
            <div class="article">
                <div class="first">
                    <a href="#" class="title">开发日志</a>
                </div>
                <div class="second">
                    <a href="#">ZHIER的小博客开发日志 一直想学习Python,深知只有在扎入项目中开能学好编程这东西 趁现在有Digital Ocean的主机和zhier.tk域名,那还等什么呢? 先写个小日志把开发记录记下来呗! 2014-09-20 今天开始开发ZHIER的博客,今天基本上把博客做的能看了 你要是问我现在那些按钮能不能按,我只能说按坏了我会找你赔的... 先从网上找了个模板,这样就基本不用管CSS+JS了,看着样子还行,先将就下 做了3个Model,Post,Tag,Category 做了2个View,posts用来显示所有发布的文章,post来显示单一的文章 对了,这个也是我第一次使用MarkDown写东西,真心好用啊!! 2014</a>
                </div>
                <div class="third">
                    <a href="#">2015-10-7 17:04:00</a>
                    <a href="#">stone-jin</a>
                    <a href="#">开发日志</a>
                    <a href="#">1 Comments</a>
                    <a href="#">Continue reading</a>
                </div>
            </div>
            {% for post in posts %}
                <div class="article">
                    <a href="">标题：{{ post.title }}</a><br>
                    <a href="">链接：{{ post.link }}</a><br>
                    <a href="">snippet：{{ post.snippet }}</a><br>
                    <a href="">mk_content: {{ post.mk_content }}</a><br>
                    <a href="">content: {{ post.content }}</a><br>
                    <a href="">add_time: {{ post.add_time }}</a><br>
                    <a href="">publish_time: {{ post.publish_time }}</a><br>
                    <a href="">update_time: {{ post.update_time }}</a><br>
                    <a href="">status: {{ post.status }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="right">
            <div class="category">
                <a>Categories</a>
            </div>
            <div class="tags">
                <a>Popular tags</a>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="wrapper">
            <div class="left">

            </div>
            <div class="right">

            </div>
        </div>
    </div>
    <script src="{% static 'js/layout.js' %}"></script>
</body>
</html>