<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}"/>
    {% block my_css %}
    {% endblock %}
    <script src="{% static 'js/jquery2.1.4.js' %}"></script>
</head>
<body>
    <div class="header">
        <div class="wrapper">
            <div class="left">
                <a href="{{ my_domain }}" id="first" class="selected">首页</a>
                <a href="{{ my_domain }}">文章</a>
                <a href="{{ my_domain }}/cool_blog">收藏的博客</a>
                <a href="{{ my_domain }}/join_activity">参加过的活动</a>
                <a href="{{ my_domain }}/works">我的作品</a>
                <a href="{{ my_domain }}/about">关于我</a>
            </div>
            <div class="right">
                <a href="#">搜索</a>
            </div>
        </div>
    </div>

    <div class="center">
        {% block content %}
        {% endblock %}
    </div>

    <div class="bottom">
        <div class="wrapper">
            <div class="left">

            </div>
            <div class="right">

            </div>
        </div>
    </div>
    <script src="{% static 'js/layout.js' %}"></script>
</body>
</html>