*{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

#center_left{
    padding-left: 18px;
}

#center_right{
}

.article{
    border-bottom:1px solid rgba(196, 196, 196, 0.47);
    padding: 10px;
    box-shadow: 0 0 2px #AAA;
    margin-top: 10px;
}

.bottom{
    margin-top: 20px;
}